extends layout

block content
  .container
    .jumbotron
      form.form-horizontal(method="post", action="#")
        div.form-group#questionGroupDivId
          label.col-sm-2.control-label(for="questionId") Question
          div.col-sm-10
            textarea#questionId.form-control(name="question", placeholder="Question")
        div.form-group
          label.col-sm-2.control-label Question Type
          div.col-sm-10
            .radio.radio-inline
              label
                input#singleselectradioId(type="radio", name="questionType", value="SingleSelect", onclick="showQuestionSection()")
                | Single Select
            .radio.radio-inline
              label
                input#singleselectradioId(type="radio", name="questionType", value="MultiSelect", onclick="showQuestionSection()")
                | Multi Select
            .radio.radio-inline
              label
                input#singleselectradioId(type="radio", name="questionType", value="TrueFalse", onclick="showQuestionSection()")
                | True/False
            .radio.radio-inline
              label
                input#singleselectradioId(type="radio", name="questionType", value="Descriptive", onclick="showQuestionSection()")
                | Descriptive
        div.form-group#singleMultiSelectChoicesGroupDivId(style="display:none")
          label.col-sm-2.control-label Choices
          div.col-sm-10
            .choiceTable#singleMultiSelectChoicesTableId
              .choiceRow#singleMultiSelectChoiceRowId1
                .choiceNum 1.
                .choiceContent
                  textarea#choiceId1
                .choiceOperation
                  a(href='#' onclick="removeChoice('singleMultiSelectChoiceRowId1')")
                    span.glyphicon.glyphicon-trash
              .choiceRow#singleMultiSelectChoiceRowId2
                .choiceNum 2.
                .choiceContent
                  textarea#choiceId2
                .choiceOperation
                  a(href='#' onclick="removeChoice('singleMultiSelectChoiceRowId2')")
                    span.glyphicon.glyphicon-trash
              .choiceRow#singleMultiSelectChoiceRowId3
                .choiceNum 3.
                .choiceContent
                  textarea#choiceId3
                .choiceOperation
                  a(href='#' onclick="removeChoice('singleMultiSelectChoiceRowId3')")
                    span.glyphicon.glyphicon-trash
              .choiceRow#singleMultiSelectChoiceRowId4
                .choiceNum 4.
                .choiceContent
                  textarea#choiceId4
                .choiceOperation
                  a(href='#' onclick="removeChoice('singleMultiSelectChoiceRowId4')")
                    span.glyphicon.glyphicon-trash
            a(href='#' onclick="addChoice()")
              span.glyphicon.glyphicon-plus-sign
        div.form-group#trueFalseChoicesGroupDivId(style="display:none")
          label.col-sm-2.control-label Choices
          div.col-sm-10
            .choiceTable
              .choiceRow
                .choiceNum 1.
                .choiceContent
                  | True
              .choiceRow
                .choiceNum 2.
                .choiceContent
                  | False
        div.form-group#descriptiveChoicesGroupDivId(style="display:none")
          label.col-sm-2.control-label Answer
          div.col-sm-10
            textarea#descriptiveChoiceId
         div.form-group#singleSelectAnswerGroupDivId(style="display:none")
          label.col-sm-2.control-label Answer
          div.col-sm-10
            select.form-control#singleSelectAnswerId(name="singleSelectAnswer")
              option(value="1") 1
              option(value="2") 2
              option(value="3") 3
              option(value="4") 4
        div.form-group#multiSelectAnswerGroupDivId(style="display:none")
          label.col-sm-2.control-label Answer
          div.col-sm-10
            select.form-control#multiSelectAnswerId(name="multiSelectAnswer", multiple="multiple")
              option(value="1") 1
              option(value="2") 2
              option(value="3") 3
              option(value="4") 4
        div.form-group#trueFalseAnswerGroupDivId(style="display:none")
          label.col-sm-2.control-label Answer
          div.col-sm-10
            select.form-control#answerId(name="trueFalseAnswer")
              option(value="true") True
              option(value="false") False
      br
      | &nbsp;
block pagescript
  script(src='/javascripts/examadmin_quesCreate.js')
  script(src='javascripts/bootstrap-multiselect.js')